/* input[type="text"] {
    color: black !important;
    background-color: white !important;
} */
/* .table th,.table td { 
    border-radius: 10px;
    /* border-top: none !important;  
} */
/* th {
    border: none !important; 
    
} 


thead {
    border-radius: 5px solid black !important;
  } */
  img.card-img {
    width: 250px;
}

